doctype
html
	head
		include include/head
	body
		include include/header

		form(method="POST" action="/movies")
			label(for="name") Nombre
			input#name(type="text" name="name")
			label(for="duration") Duración
			input#duration(type="text" name="duration")
			label(for="year") Año
			input#year(type="text" name="year")
			label(for="country") País
			input#country(type="text" name="country")
			label(for="sinopsys") Sinopsis
			textarea#sinopsys(type="text" name="sinopsys")
			label(for="trailer") Trailer
			input#trailer(type="text" name="trailer" placeholder="URL de la película")
			label(for="poster") Poster
			input#poster(type="text" name="poster" placeholder="URL del poster")
			label(for="actor") Actor
			select(name="actor_id")#actor
				@foreach($actors as $actor)
				option(value!="{{ $actor->id }}") {{ $actor->first_name }} {{ $actor->last_name }}
				@endforeach
			label(for="director") Director
			select(name="director_id")#director
				@foreach($directors as $director)
				option(value!="{{ $director->id }}") {{ $director->first_name }} {{ $director->last_name }}
				@endforeach
			@csrf
			input(type="submit" value="Guardar")



		include include/footer