doctype
html
	head
		include include/head
	body
		include include/header
		form(method="POST" action="/actores")
			label(for="name") Nombre
			input#name(type="text" name="first_name")
			label(for="last") Apellido
			input#last(type="text" name="last_name")
			@csrf
			input(type="submit" value="Guardar")

		include include/footer